<section id="one" class="tiles">
	{% for page in site.pages limit:site.tiles-count %}
	{% if site.tiles-source == 'pages' and page.image %}
        <article>
                <span class="image">
                        <img src="{{ page.image | prepend: site.baseurl}}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ page.url | | prepend: site.baseurl  }}" class="link">{{ page.title }}</a></h3>
                        <p>{{ page.description }}</p>
                </header>
        </article>
	{% endif %}
	{% endfor %}
</section>
